/*
SoftCheck
App Médica 2020
*/
 
#nosotros, 
#contacto {
    padding-top: 60px;
    min-height: 700px;
}

#principal {
    padding: 100px 5% 20px;
    min-height: 700px;
}

#competencias > div >  h3 {
    color: white;
}

#equipo {
    padding-top: 60px;
    padding-bottom: 60px;
}

#enlaces {
    color:white;
    padding-top: 60px;
    min-height: 100%;
}

.navbar a {
    font-weight: normal;

}

.navbar-dark {
    background-color:rgb(175, 171, 171);
}

h1, h2, h3, h4, h5, h6, .navbar, .modal { 
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top:80px;
    padding-bottom:80px;
}

.bg-principal {
    background-image: url('../img/fondo_principal.jpg');
    background-size: cover;
}

.jumbotron {
    color: white;
    background: rgb(175, 171, 171); /* Para navegadores antiguos */
    background: rgba(175, 171, 171, 0.5); 
 }

 .card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.media {
    margin: 20px 5% 50px 10%;
}

#contact-form { 
    padding-top: 3rem; 
} 

textarea { 
    resize: none; 
}

.fixed-bottom p {
    display: inline;
}